* {
  margin: 0;
  padding: 0%;
}

.App {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.containt-main {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
  margin-top: 20px;
}

.containt-person {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  gap: 10px;
}

.first-person {
  font-size: 30px;
}
